@import '../../style/color.less';
@import '../../style/font.less';
@import '../../../app.less';

@menu_background_white_common: @background_white_common;


.wrap {
  width: 100%;
  background-color: @menu_background_white_common ;
  border-radius: 10rpx;
}

.margin{
  margin-bottom: 20rpx;
}



.itemWrap {
  width: 100%;
  min-height: 120rpx;
  padding-left: 35rpx;
  padding-right: 35rpx;
  box-sizing: border-box;
}

.menuIcon {
  width: 50rpx;
  height: 50rpx;
}
